$body-font-family = 'Roboto Regular'
$font-family = 'Avenir', Helvetica, Arial, 'sans-serif';
$font-weight = 'font-weight-regular'
$alert-font-size = 18px

@import '~vuetify/src/stylus/main'
// For a-la-carte
@import '~vuetify/src/stylus/app'